body, div, p {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 300;
    letter-spacing: 0.0625em;
}

a {
    text-decoration: none;
}


.wrap { 
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 83px; 
    background: rgba(255,255,255,1);
    z-index:90; 
}

#container {
    left: 0;
    top: 0;
    width: 80%;
    overflow: hidden;
    z-index: 10;
    margin: 10px auto;
}

/*shortInfo collapsed*/
label > div{
    background: #dddddd;
}

label > div h1{
    margin: 0;
}

label > div:hover{
    background: #f6f6f6;
}

/*fullInfo*/
/*-1- collapsed*/
input ~ div{
    display:none;
    background: #f6f6f6;
}
/*-2- expanded*/
input:checked ~ div{
    display: block;
}

/*shortInfo with expanded full*/
input:checked + label div{
    background: #f6f6f6;


}

input{
    1display: none;
 }